.App {
  text-align: center;
}
body {
  font-family: 'Varela Round', serif;
  line-height: inherit;
}
p {
  font-size: .75rem;
  margin-bottom: 5px;
}
h4 {
  font-size: 1rem;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

svg {
  pointer-events: none;
}
/* HIDE RADIO */
/* [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
} */

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  box-shadow: 0 0 0  red;
}
.search {
  background: url('../src/img/logo.png') no-repeat left center/40px;
  display: inline-block;
  border: none;
}
/* .form-inline .form-control{
  max-width: 700px;
  width: auto;
} */
input, input[placeholder] {
    text-align: center;
}

.stars {
  align-self: end;
  margin-right: 10px;
}
.fa-star:hover {
  color: gold;
}
.alert {
  white-space: pre-wrap;
  text-align: center;
}
.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.signemail-button {
  height: 40px;
  border-width: 0;
  width: 195.375px;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  background: #13d45a 
}
.email-button {
  height: 40px;
  border-width: 0;
  background: #007bff;
  width: 195.375px;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
  .google-button:focus,
  .google-button:hover,
  .email-button:focus,
  .email-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  .google-button:active,
  .email-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
    
.google-button__icon, .email-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus, .email-button__icon--plus {
  width: 27px;
}
.emailicon {
  height: 18px;
  width: 18px
}

.google-button__text, .email-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}
.avatar {
  border-radius: 50%;
  max-width: 100px;
}
.nav-avatar {
  border-radius: 50%;
  max-height: 50px;
  margin-right: 10px;
}
.nav-item-avatar {
  display: inherit
}

.radio-label {
  display: inline-block;
  background-color: #ddd;
  padding: 6px 11px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
}

.App-link {
  color: #61dafb;
}
.sidebar li {
  list-style-type: none;
}
.sidebar {  
  height: auto;
}
.card-img {
  object-fit: cover;
}
.img-fluid {
  width: 30%;
  height: auto;
}
.card-img-overlay {
  background-color: rgba(255,255,255,0.8);
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}
.fa-angle-down, .fa-angle-up {
  margin-left: 10px;
  vertical-align: inherit;
}
.acctedit {
  margin-left: 0px;
  margin-right: 5px;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.countryname {
  vertical-align: middle;
}
.data-view {
  color: #008080;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.data-container {
  padding-top: 10px;
  padding-left: 3px;
  margin-left: 10px;
  border-bottom: 1px solid #b2d6ff;
  color: #666;    
  font-size: 16px;
}
.data-span {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.9999s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 28px;
    height: 28px;
    opacity: 0;
  }
}
.breakpoint__small-down {
  width: 100%;
}
.main {
  margin: 0 auto; 
  padding: 10px;
}
.col-md-9 {
  padding: 0px;
}
.btn {
  border-radius: 1rem;
}
.row {
  margin: 0;
}
.recursive {
  padding-top: 10px;
  padding-left: 3px;
  margin-left: 10px;
  border-bottom: 1px solid #b2d6ff;
  color: #666;    
  font-size: 16px;
}
.recursivename {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.countryul {
  margin-left: 10px;
}
.countrylist {
  display: flex;
  flex-direction: column;
}
.countryactions {
  display: flex;
}
.countryname {
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
}
.country {
  fill: #60c080;
  stroke: #000;
  stroke-width: .1;
  outline: none;
  stroke-linecap: round;
}
.gameCountry {
  fill: #ffffff;
  stroke: #000;
  stroke-width: 0.5;
  outline: none;
  stroke-linecap: round;
}
.gameCountry:hover {
  fill: #13d45a;
  stroke: #000;
  stroke-width: 0.5;
  outline: none;
  stroke-linecap: round;
  cursor: pointer;
}
.mapFlag {
  width: 50px;
}
.rsm-svg {
  border: 1px solid darkslateblue;
  border-radius: 10px;
  background-color: lightskyblue
}
.country:hover {
  fill: #024e1b;
  stroke: #000;
  stroke-width: .7;
  outline: none;
  cursor: pointer;
}
.country:focus {
  fill: #FF5722;
  stroke: #000;
  stroke-width: .7;
  outline: none;
}
.possible {
  list-style: none;
  padding: 10px;
  flex-basis: calc(50% - 2.4%);
}
.guesses {
  min-height: 48px;
}
/* .possible:hover {
  list-style: none;
  padding: 10px;
  flex-basis: calc(50% - 2.4%);
  
} */
.card {
  padding: 15px;
  box-shadow: 0 5px 15px 0 rgba(37, 97, 52, 0.15), 0 2px 4px 0 rgba(93, 148, 100, 0.2);
  border-radius: .5rem;
}
.possible.card:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.692);
}
.media-body {
  flex: 1;
}
svg, g, path {
  pointer-events: all; 
}
.fas {
  margin-left: -40px;
}
.media img, .detailFlag {
  width: 25%;
  object-fit: contain;
  padding: .25rem;
}
audio {
  width: 100%;
}
.form-group {
  position: relative;
}
@media (max-width: 768px){
  /* .navbar-nav {
    flex-direction: row;
  }
  .nav-item {
    padding: 10px;
  } */
  .choice {
    padding-inline-start: 0;
  }
}
@media (min-width: 576px){
  .form-inline .form-control {
    display: inline-block;
    max-width: 768px;
    vertical-align: middle;
  }
}
@media (min-width: 768px){
  .col-md-9 {
    padding: 0 15px; 
  }
  .main {
    padding: 20px;
  }
  .detailFlag  {
    width: 15%;
  }
}
/* .nav {
  flex-wrap: nowrap;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.logo{
  height: 60px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.img-thumbnail {
  object-fit: cover;
}
.load-more {
  display: inline;  
}
ul .collapse, ul .show, ul .collapsing {
  padding-inline-start: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
